*{
  margin:0;
  padding:0;
}
html,body{
  font-family:'Verdana Regular',Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS",  sans-serif;
  height:100%;
}
body{
  background:url('/assets/site/img/bg.png') repeat-y;
}
#wrap{
  margin:0 auto;
  width:1000px;
  min-height:100%;
  box-shadow: 0 0 7px #000;
  background:#FFF;
}
header{
  display:block;
  width:940px;
  margin: 0 auto;
  position:relative;
  padding: 5px 0 0 0;

  #logo {
    text-indent:-9999px;
    background-image:url('/assets/site/img/logo.png');
    height:94px;
    width:291px;
    /*margin:10px 0 0 30px;*/
    display:inline-block;
  }
  #contacts{
    font-weight:bold;
    text-align:right;
    /*margin:10px 30px 0 0;*/
    font-size: 15px; /* 13px слишьком мало! */
    color:#848484;
    list-style-type:none;
    float:right;
    position:absolute;
    bottom:0;
    right:0;
  }
}
#menu{
  width:946px;
  list-style-type:none;
  display:table;
  margin: 15px auto;
  border-collapse: separate;
  border-spacing: 3px;

  .nav-row{
    display:table-row;
  }

  li{
    display: table-cell;
    width:180px;
    background:url('/assets/site/img/menu_bg.png') repeat-x;
    height:35px;
    border-right:1px solid #000;
    border-left:1px solid #000;
    text-align:center;
    line-height:35px;

    a{
      text-transform: uppercase;
      text-decoration: none;
      font-size: 20px; /*Слишьком большие буквы при 20px !!! */
      display: block;
      font-weight: bold;
      color:#9d9b9b;
    }

    a:hover{
      text-decoration: underline;
    }
    &.active a{
      text-decoration: underline;
    }
  }
  li:first-child{
    border-radius: 7px  0 0 7px;
    border-left:none;
  }
  li:last-child{
    border-right:none;
    border-radius: 0 7px 7px 0;
  }
}
#content{
  width:940px;
  min-height: 100%;
  margin:10px auto 0 auto;
  h1{
    color: #4e4e4e;
    font-size: 14px;
    text-align: left;
  }
  #sidebar{
    width: 260px;
    float: left;
    margin-right: 10px;
    text-align: left;
    text-transform: uppercase;
    ul.menu{
      font-size: 14px;
      font-family: Times, serif;
      width: 100%;
      list-style-type: none;
      & > li{
        margin-bottom: 20px;
        /*&:first-child{
            margin-top: 0;
        }*/
      }
      ul.category{
        list-style-position: inside;
        list-style-image: url('/assets/site/img/arrow-list.png');
        list-style-type: none;
        border: 1px #a4a4a4 solid;
        border-radius: 10px;
        li{
          border-top: 1px solid #a4a4a4;
          padding: 4px;
          a{
            text-decoration: none;
            color: #3d3d3d;
            &:hover{
              text-decoration: underline;
            }
          }
        }
        li.category-head{
          color: #9d9b9b;
          background: linear-gradient(to bottom, #f4fe8c, #fff32b);
          height: 100%;
          border-radius: 10px 10px 0 0;
          list-style-image: none;
          border: none;
          height: 27px;
          padding: 4px;
          font-size: 13px;
          text-align: center;
          line-height: normal;
          height: 100%;
          font-weight: bold;
        }
        li.single{
          border-radius: 10px;
        }
      }
    }
  }
  #productView{
    margin-top: 5px;
    width: 670px;
    float: right;
    min-height: 50px;
    margin-bottom: 10px;
    .imageSide{
      width: 315px;
      margin-right: 10px;
      float: left;
      .zoomer{
        border: 1px solid #d3d3d3;
        box-shadow: 0 0 5px #d3d3d3;
        width: 100%;
        img{
          width: 315px;
          height: 250px;
        }
      }
      .thumbs{
        width: 100%;
        display: table;
        border-collapse: separate;
        border-spacing: 3px;
        ul.in-row{
          width: 100%;
          list-style-type: none;
//          display: table-row;
          li{
            max-width: 100%;
            display: table-cell;
            border: 1px solid #f3f3f3;
            box-shadow: 0 0 5px #f3f3f3;
            img{
              width: 70px;
              max-width: 100%;
              opacity: .5;
              &:hover, &.activeImg{
                opacity: 1;
                cursor: pointer;
              }
            }
          }
        }
      }
      ul.icn-desc{
        width: 100%;
        list-style-type: none;
        li{
          margin-top: 10px;
          color: #4d4d4d;
          font-size: 17px;
          text-align: left;
          &.vlazn{
            padding: 0 0 0 75px;
            background: url('/assets/site/img/vlazn.png') no-repeat;
            background-position: center left;
            height: 63px;
            line-height: 63px;

          }
          &.shov{
            padding: 0 0 0 75px;
            background: url('/assets/site/img/shov.png') no-repeat;
            background-position: center left;
            height: 63px;
            line-height: 63px;
          }
          &.bistro{
            padding: 0 0 0 75px;
            background: url('/assets/site/img/bistro.png') no-repeat;
            background-position: center left;
            height: 70px;
            line-height: 70px;
          }
        }
      }
    }
    .descSide{
      width: 345px;
      float: right;
      font-size: 13px;
      color:#838383;
      //			color: #3d3d3d;
      min-height: 50px;
      margin-bottom: 20px;
      text-align: left;
      & *{
        padding-left: 5px;
      }
      h1, h2, h3, h4, h5, h6{
        color:#838383;
//        text-align: right;
      }
      h1{
        font-size: 30px;
      }
      h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child{
        margin-top: -25px;
      }
      table{
        width: 100%;
        border-collapse: collapse;
        td, th{
          border: 1px solid #d3d3d3;
          padding: 1px 4px;
        }
      }
      ol{
        list-style-position: inside;
        li{

        }
      }
    }
  }
}
.clear{
  clear: both;
  height: 105px;
}
footer{
  position: relative;
  height: 105px;
  width: 1000px;
  margin: -105px auto 0 auto;
  background: url('/assets/site/img/footer-bg.png');
  color: #fff;

  h3{
    font-size: 11px;
    font-weight: normal;
    padding:20px 0 0 20px;
    display: inline-block;
  }

  ul.bars{
    display: inline-block;
    position: absolute;
    top:7px;
    right: 20px;
    list-style-type: none;
    font-size: 13px;
    font-weight: bold;
    text-align: right;

    & > li{
      vertical-align: top;
      display: inline-block;
      margin-right: 20px;
      &:last-child{
        margin-right: 0;
      }
    }

    ul{
      list-style-type: none;
    }

    ul.brand-list{
      li{
        margin-top: 5px;
        opacity: .75;
        &:first-child{
          margin-top: 0;
        }
        &.fortis{
          height:36px;
          width:111px;
          background: url('/assets/site/img/fortis-brand.png') no-repeat;
        }
        &.almaz{
          height:25px;
          width:108px;
          background: url('/assets/site/img/almaz-brand.png') no-repeat;
        }
        &.bethel{
          height:14px;
          width:110px;
          background: url('/assets/site/img/bethel-brand.png') no-repeat;
        }
        &.fortis:hover, &.almaz:hover, &.bethel:hover{
          opacity: 1;
        }
      }
    }
    ul.icons{
      li{
        display: inline-block;
        margin-right: 7px;

        &:last-child{
          margin-right: 0;
        }

        a{
          text-indent: -9999px;
          height: 28px;
          width: 28px;
          display: inline-block;
          opacity: .75;
          &.vk{
            background: url('/assets/site/img/vk.png') no-repeat;
          }
          &.fb{
            background: url('/assets/site/img/fb.png') no-repeat;
          }
          &.yt{
            background: url('/assets/site/img/yt.png') no-repeat;
          }

          &.vk:hover, &.fb:hover, &.yt:hover{
            opacity: 1;
          }

          text-indent: 100%;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }
}