#wrap{
  margin:0 auto;
  width:1000px;
  min-height:100%;
  box-shadow: 0 0 7px #000;
  background:#FFF;
}
#content{
  width:940px;
  min-height: 100%;
  margin:10px auto 0 auto;
  h1{
    color: #4e4e4e;
    text-align: left;
  }
  .page{
    h1.header{
      padding-top: -3px;
    }
    width:670px;
    display: inline-block;
    table{
      ul{
        list-style-position: inside;
        padding: 3px;
      }
    }
  }
  #sidebar{
    width: 260px;
    display: inline-block;
    float:left;
    margin-right: 10px;
    text-align: left;
    text-transform: uppercase;
    ul.menu{
      font-size: 14px;
      font-family: Times, serif;
      width: 100%;
      list-style-type: none;
      & > li{
        margin-bottom: 20px;
      }
      ul.category{
        list-style-position: inside;
        list-style-image: url('/assets/site/img/arrow-list.png');
        list-style-type: none;
        border: 1px #a4a4a4 solid;
        border-radius: 10px;
        li{
          border-top: 1px solid #a4a4a4;
          padding: 4px;
          a{
            text-decoration: none;
            color: #3d3d3d;
            &:hover{
              text-decoration: underline;
            }
          }
        }
        li.category-head{
          color: #9d9b9b;
          background: linear-gradient(to bottom, #f4fe8c, #fff32b);
          border-radius: 10px 10px 0 0;
          list-style-image: none;
          border: none;
          padding: 4px;
          font-size: 13px;
          text-align: center;
          line-height: normal;
          height: 100%;
          font-weight: bold;
        }
        li.single{
          border-radius: 10px;
        }
      }
    }
  }
}
