#wrap {
  margin: 0 auto;
  width: 1000px;
  min-height: 100%;
  box-shadow: 0 0 7px #000;
  background: #FFF;
}
#content {
  width: 940px;
  min-height: 100%;
  margin: 10px auto 0 auto;
}
#content h1 {
  color: #4e4e4e;
  text-align: left;
}
#content .page {
  width: 670px;
  display: inline-block;
}
#content .page h1.header {
  padding-top: -3px;
}
#content .page table ul {
  list-style-position: inside;
  padding: 3px;
}
#content #sidebar {
  width: 260px;
  display: inline-block;
  float: left;
  margin-right: 10px;
  text-align: left;
  text-transform: uppercase;
}
#content #sidebar ul.menu {
  font-size: 14px;
  font-family: Times, serif;
  width: 100%;
  list-style-type: none;
}
#content #sidebar ul.menu > li {
  margin-bottom: 20px;
}
#content #sidebar ul.menu ul.category {
  list-style-position: inside;
  list-style-image: url('/assets/site/img/arrow-list.png');
  list-style-type: none;
  border: 1px #a4a4a4 solid;
  border-radius: 10px;
}
#content #sidebar ul.menu ul.category li {
  border-top: 1px solid #a4a4a4;
  padding: 4px;
}
#content #sidebar ul.menu ul.category li a {
  text-decoration: none;
  color: #3d3d3d;
}
#content #sidebar ul.menu ul.category li a:hover {
  text-decoration: underline;
}
#content #sidebar ul.menu ul.category li.category-head {
  color: #9d9b9b;
  background: linear-gradient(to bottom, #f4fe8c, #fff32b);
  border-radius: 10px 10px 0 0;
  list-style-image: none;
  border: none;
  padding: 4px;
  font-size: 13px;
  text-align: center;
  line-height: normal;
  height: 100%;
  font-weight: bold;
}
#content #sidebar ul.menu ul.category li.single {
  border-radius: 10px;
}
