/* CSS Document */

/*----------MIXINGS----------*/

/*----------MIXINGS END----------*/

*{
  margin:0;
  padding:0;
}
html,body{
  font-family:'Verdana Regular',Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS",  sans-serif;
  height:100%;
}
body{
  background:url('/assets/site/img/bg.png') repeat-y;
}
#wrap{
  margin:0 auto;
  width:1000px;
  min-height:100%;
  box-shadow: 0 0 7px #000;
  background:#FFF;
}
header{
  display:block;
  width:940px;
  margin: 0 auto;
  position:relative;
  padding: 5px 0 0 0;

  #logo {
    text-indent:-9999px;
    background-image:url('/assets/site/img/logo.png');
    height:94px;
    width:291px;
    /*margin:10px 0 0 30px;*/
    display:inline-block;
  }
  #contacts{
    font-weight:bold;
    text-align:right;
    /*margin:10px 30px 0 0;*/
    font-size: 15px; /* 13px слишьком мало! */
    color:#848484;
    list-style-type:none;
    float:right;
    position:absolute;
    bottom:0;
    right:0;
  }
}
#menu{
  width:946px;
  list-style-type:none;
  display:table;
  margin: 15px auto;
  border-collapse: separate;
  border-spacing: 3px;

  .nav-row{
    display:table-row;
  }

  li{
    display: table-cell;
    width:180px;
    background:url('/assets/site/img/menu_bg.png') repeat-x;
    height:35px;
    border-right:1px solid #000;
    border-left:1px solid #000;
    text-align:center;
    line-height:35px;

    a{
      text-transform: uppercase;
      text-decoration: none;
      font-size: 20px; /*Слишьком большие буквы при 20px !!! */
      display: block;
      font-weight: bold;
      color:#9d9b9b;
    }

    a:hover{
      text-decoration: underline;
    }
    &.active a{
      text-decoration: underline;
    }
  }
  li:first-child{
    border-radius: 7px  0 0 7px;
    border-left:none;
  }
  li:last-child{
    border-right:none;
    border-radius: 0 7px 7px 0;
  }
}
#content{
  width:940px;
  margin:10px auto 0 auto;
}

/*--------------------SLIDER!!!--------------------*/

.jcarousel-wrapper {
  margin: 50px auto auto 0;
  background: url('/assets/site/img/slider_bg.png') no-repeat;
  background-position: center bottom;
  position: relative;
  /* border: 10px solid #fff;
  -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 2px #999;
 -moz-box-shadow: 0 0 2px #999;
  box-shadow: 0 0 2px #999;
      */
}
.jcarousel-wrapper .photo-credits {
  position: absolute;
  right: 15px;
  bottom: 0;
  font-size: 13px;
  color: #fff;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
  opacity: .66;
}
.jcarousel-wrapper .photo-credits a {
  color: #fff;
}
.jcarousel {
  position: relative;
  overflow: hidden;
  width: 940px;
  min-height: 360px;
}
.jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.jcarousel li {
  vertical-align: bottom;
  float: left;
  width:940px;
  margin-top: 0px;
  min-height:320px;
}
/** Carousel Controls **/
.jcarousel-control-prev,
.jcarousel-control-next {
  position: absolute;
  bottom: 0px;
  width: 30px;
  height: 30px;
  text-align: center;
  background: #4E443C;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 1px #000;
  font: 24px/27px Arial, sans-serif;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 2px #999;
  -moz-box-shadow: 0 0 2px #999;
  box-shadow: 0 0 2px #999;
}
.jcarousel-control-prev {
  left: -0px;
}
.jcarousel-control-next {
  right: -0px;
}
.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
  display: block;
}
.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
  opacity: .5;
  cursor: default;
}
/** Carousel Pagination **/
.jcarousel-pagination {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -45px;
}
.jcarousel-pagination a {

  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  line-height: 14px;
  width: 12px;
  height: 12px;
  background: #fff;
  color: #4E443C;
  border-radius: 14px;
  padding: 3px;
  text-align: center;
  margin-right: 2px;
  opacity: 1;
  content: '';
  box-shadow: inset 0px 0px 4px rgba(0,0,0,0.9);
}

.jcarousel-pagination a.active {
  background: #d43636;
  color: #fff;
  opacity: 1;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}
/*--------------------END OF SLIDER!--------------------*/
.bottom-block{
  width: 940px;
  margin: -1px 0 0 0;
  min-height: 319px;
  overflow: auto;
  background: url('/assets/site/img/block.png') no-repeat 100%;
  color: #4a4949;
  font-size: 12px;

  div.text{
    width: 900px;
    line-height: 12px;
    /* font-weight: bold; */
    margin: 10px auto;
    p{
      color: #787575;
      font-family: 'Verdana Regular' sans-serif;
      font-weight: bold;
      font-size: 13px;
      margin-top: 7px;
    }
  }

  h2{
    color: #787575;
    text-align: center;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 25px;
  }

  ul.products{
    width: 900px;
    margin: 15px auto;
    list-style-type: none;
    display: table;

    .in-row{
      display: table-row;
    }

    li{
      text-align: center;
      min-height: 100px;
      max-height: 225px;
      width: 225px;
      display: table-cell;
      background-position: top center;
      background-repeat: no-repeat;
      &.star{
        background-image: url('/assets/site/img/star.png');
      }
      &.time{
        background-image: url('/assets/site/img/time.png');
      }
      &.strong{
        background-image: url('/assets/site/img/strong.png');
      }
      &.price{
        background-image: url('/assets/site/img/price.png');
      }

      h2{
        font-size: 16px;
        margin: 55px 0 0 0;
      }
      p.desc{
        margin-top: 5px;
        font-size: 12px;
        color: #787575;
      }
    }
  }
}
div.prod-block{
  width:940px;
  margin: 10px auto 0 auto;
  background: url('/assets/site/img/prod-block.png') repeat-x;
  background-position: top left;
  border-radius: 20px;
  min-height: 420px;

  ul#tabs{
    list-style-type: none;
    text-transform: uppercase;
    width: 940px;
    margin: 0 auto;
    text-align: center;
    font-size: 13px;

    li{
      margin-top: 10px;
      display: inline-block;
      padding: 5px 9px;

      &#current, &:hover{
        border-radius: 15px;
        background: url('/assets/site/img/btn-bg.png') repeat-x;

        a{
          color: #fff;
          font-weight: bold;
        }
      }

      a{
        color: #4d4d4d;
        display: block;
        font-weight: bold;
      }

    }
  }

  #prod{
    width: 940px;
    min-height: 300px;
    margin: 10px auto 0 auto;

    ul{
      width: 100%;
      min-height: 300px;
      list-style-type: none;
      display: table;

      border-collapse: separate;
      border-spacing: 0px 30px;

      .in-row{
        display: table-row;
      }

      li{
        max-width: 235px;
        display: table-cell;
        height: 250px;
        vertical-align: top;
        position: relative;
        &.fortis{
          background: url('/assets/site/img/fortis.png') no-repeat;
          background-position: top center;
        }
        &.almaz{
          background: url('/assets/site/img/almaz.png') no-repeat;
          background-position: top center;
        }
        &.edp{
          background: url('/assets/site/img/edp.png') no-repeat;
          background-position: top center;
        }
        &.lenta{
          background: url('/assets/site/img/lenta.png') no-repeat;
          background-position: top center;
        }
        &.bars{
          background: url('/assets/site/img/bars.png') no-repeat;
          background-position: top center;
        }
        &.grunt{
          background: url('/assets/site/img/grunt.png') no-repeat;
          background-position: top center;
        }
        &.perch{
          background: url('/assets/site/img/perch.png') no-repeat;
          background-position: top center;
        }
        &.lamp{
          background: url('/assets/site/img/lamp.png') no-repeat 100%;
          background-position: top center;
        }

        .blck{
          height: 50px;
          position: absolute;
          bottom: 5px;
          h3{
            vertical-align: top;
            text-align: left;
            font-size: 14px;

            a{
              color: #4d4d4d;

              &:hover{
                color: #ff0000;
              }
            }
          }
          p{
            max-width: 225px;
            font-size: 12px;
          }
        }

      }
    }
  }

  #ysl{
    width: 940px;
    min-height: 300px;
    margin: 10px auto 0 auto;

    border-collapse: separate;
    border-spacing: 3px;

    ul{
      width: 940;
      min-height: 300px;
      list-style-type: none;
      display: table;

      .in-row{
        display: table-row;
      };

      li{
        position: relative;
        text-align: center;
        display: table-cell;
        height: 232px;
        width: 308px;

        &.home{
          background: url('/assets/site/img/home.png') no-repeat;
          background-position: top center;
        }
        &.svarka{
          background: url('/assets/site/img/svarka.png') no-repeat 100%;
          background-position: top center;
        }
        &.teplo{
          background: url('/assets/site/img/teplo.png') no-repeat;
          background-position: top center;
        }
        &.roof{
          background: url('/assets/site/img/roof.png') no-repeat;
          background-position: top center;
        }
        &.santeh{
          background: url('/assets/site/img/santeh.png') no-repeat;
          background-position: top center;
        }
        &.condition{
          background: url('/assets/site/img/condition.png') no-repeat;
          background-position: top center;
        }

        .title{
          position: absolute;
          height: 50px;
          opacity: .75;
          font-weight: bold;
          font-size: 12px;
          color: #fff;
          background: #444343;
          bottom: 0;
          width: 308px;
          p{
            text-align: left;
            padding: 3px;
          }
        }
      }
    }
  }
}
.clear{
  clear: both;
  height: 105px;
}
footer{
  position: relative;
  height: 105px;
  width: 1000px;
  margin: -105px auto 0 auto;
  background: url('/assets/site/img/footer-bg.png');
  color: #fff;

  h3{
    font-size: 11px;
    font-weight: normal;
    padding:20px 0 0 20px;
    display: inline-block;
  }

  h2.devs{
    padding: 20px 0 0 20px;
    font-size: 12px;
    color: #fff;
    a{
      color: #fff;
      opacity: .75;
      text-decoration: none;
      &:hover{
        color: #fff;
        opacity: 1;
        text-decoration: underline;
      }
    }
  }

  ul.bars{
    display: inline-block;
    position: absolute;
    top:7px;
    right: 20px;
    list-style-type: none;
    font-size: 13px;
    font-weight: bold;
    text-align: right;

    & > li{
      vertical-align: top;
      display: inline-block;
      margin-right: 20px;
      &:last-child{
        margin-right: 0;
      }
    }

    ul{
      list-style-type: none;
    }

    ul.brand-list{
      li{
        margin-top: 5px;
        opacity: .75;
        &:first-child{
          margin-top: 0;
        }
        &.fortis{
          height:36px;
          width:111px;
          background: url('/assets/site/img/fortis-brand.png') no-repeat;
        }
        &.almaz{
          height:25px;
          width:108px;
          background: url('/assets/site/img/almaz-brand.png') no-repeat;
        }
        &.bethel{
          height:14px;
          width:110px;
          background: url('/assets/site/img/bethel-brand.png') no-repeat;
        }
        &.fortis:hover, &.almaz:hover, &.bethel:hover{
          opacity: 1;
        }
      }
    }
    ul.icons{
      li{
        display: inline-block;
        margin-right: 7px;

        &:last-child{
          margin-right: 0;
        }

        a{
          text-indent: -9999px;
          height: 28px;
          width: 28px;
          display: inline-block;
          opacity: .75;
          &.vk{
            background: url('/assets/site/img/vk.png') no-repeat;
          }
          &.fb{
            background: url('/assets/site/img/fb.png') no-repeat;
          }
          &.yt{
            background: url('/assets/site/img/yt.png') no-repeat;
          }

          &.vk:hover, &.fb:hover, &.yt:hover{
            opacity: 1;
          }

          text-indent: 100%;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }
}