/* CSS Document */
/*----------MIXINGS----------*/
/*----------MIXINGS END----------*/
* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: 'Verdana Regular', Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", sans-serif;
  height: 100%;
}
body {
  background: url('/assets/site/img/bg.png') repeat-y;
}
#wrap {
  margin: 0 auto;
  width: 1000px;
  min-height: 100%;
  box-shadow: 0 0 7px #000;
  background: #FFF;
}
header {
  display: block;
  width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 5px 0 0 0;
}
header #logo {
  text-indent: -9999px;
  background-image: url('/assets/site/img/logo.png');
  height: 94px;
  width: 291px;
  /*margin:10px 0 0 30px;*/
  display: inline-block;
}
header #contacts {
  font-weight: bold;
  text-align: right;
  /*margin:10px 30px 0 0;*/
  font-size: 15px;
  /* 13px слишьком мало! */
  color: #848484;
  list-style-type: none;
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
}
#menu {
  width: 946px;
  list-style-type: none;
  display: table;
  margin: 15px auto;
  border-collapse: separate;
  border-spacing: 3px;
}
#menu .nav-row {
  display: table-row;
}
#menu li {
  display: table-cell;
  width: 180px;
  background: url('/assets/site/img/menu_bg.png') repeat-x;
  height: 35px;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  text-align: center;
  line-height: 35px;
}
#menu li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  /*Слишьком большие буквы при 20px !!! */
  display: block;
  font-weight: bold;
  color: #9d9b9b;
}
#menu li a:hover {
  text-decoration: underline;
}
#menu li.active a {
  text-decoration: underline;
}
#menu li:first-child {
  border-radius: 7px  0 0 7px;
  border-left: none;
}
#menu li:last-child {
  border-right: none;
  border-radius: 0 7px 7px 0;
}
#content {
  width: 940px;
  margin: 10px auto 0 auto;
}
/*--------------------SLIDER!!!--------------------*/
.jcarousel-wrapper {
  margin: 50px auto auto 0;
  background: url('/assets/site/img/slider_bg.png') no-repeat;
  background-position: center bottom;
  position: relative;
  /* border: 10px solid #fff;
  -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 2px #999;
 -moz-box-shadow: 0 0 2px #999;
  box-shadow: 0 0 2px #999;
      */
}
.jcarousel-wrapper .photo-credits {
  position: absolute;
  right: 15px;
  bottom: 0;
  font-size: 13px;
  color: #fff;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
  opacity: .66;
}
.jcarousel-wrapper .photo-credits a {
  color: #fff;
}
.jcarousel {
  position: relative;
  overflow: hidden;
  width: 940px;
  min-height: 360px;
}
.jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.jcarousel li {
  vertical-align: bottom;
  float: left;
  width: 940px;
  margin-top: 0px;
  min-height: 320px;
}
/** Carousel Controls **/
.jcarousel-control-prev,
.jcarousel-control-next {
  position: absolute;
  bottom: 0px;
  width: 30px;
  height: 30px;
  text-align: center;
  background: #4E443C;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 1px #000;
  font: 24px/27px Arial, sans-serif;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 2px #999;
  -moz-box-shadow: 0 0 2px #999;
  box-shadow: 0 0 2px #999;
}
.jcarousel-control-prev {
  left: 0px;
}
.jcarousel-control-next {
  right: 0px;
}
.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
  display: block;
}
.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
  opacity: .5;
  cursor: default;
}
/** Carousel Pagination **/
.jcarousel-pagination {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -45px;
}
.jcarousel-pagination a {
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  line-height: 14px;
  width: 12px;
  height: 12px;
  background: #fff;
  color: #4E443C;
  border-radius: 14px;
  padding: 3px;
  text-align: center;
  margin-right: 2px;
  opacity: 1;
  content: '';
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.9);
}
.jcarousel-pagination a.active {
  background: #d43636;
  color: #fff;
  opacity: 1;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}
/*--------------------END OF SLIDER!--------------------*/
.bottom-block {
  width: 940px;
  margin: -1px 0 0 0;
  min-height: 319px;
  overflow: auto;
  background: url('/assets/site/img/block.png') no-repeat 100%;
  color: #4a4949;
  font-size: 12px;
}
.bottom-block div.text {
  width: 900px;
  line-height: 12px;
  /* font-weight: bold; */
  margin: 10px auto;
}
.bottom-block div.text p {
  color: #787575;
  font-family: 'Verdana Regular' sans-serif;
  font-weight: bold;
  font-size: 13px;
  margin-top: 7px;
}
.bottom-block h2 {
  color: #787575;
  text-align: center;
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 25px;
}
.bottom-block ul.products {
  width: 900px;
  margin: 15px auto;
  list-style-type: none;
  display: table;
}
.bottom-block ul.products .in-row {
  display: table-row;
}
.bottom-block ul.products li {
  text-align: center;
  min-height: 100px;
  max-height: 225px;
  width: 225px;
  display: table-cell;
  background-position: top center;
  background-repeat: no-repeat;
}
.bottom-block ul.products li.star {
  background-image: url('/assets/site/img/star.png');
}
.bottom-block ul.products li.time {
  background-image: url('/assets/site/img/time.png');
}
.bottom-block ul.products li.strong {
  background-image: url('/assets/site/img/strong.png');
}
.bottom-block ul.products li.price {
  background-image: url('/assets/site/img/price.png');
}
.bottom-block ul.products li h2 {
  font-size: 16px;
  margin: 55px 0 0 0;
}
.bottom-block ul.products li p.desc {
  margin-top: 5px;
  font-size: 12px;
  color: #787575;
}
div.prod-block {
  width: 940px;
  margin: 10px auto 0 auto;
  background: url('/assets/site/img/prod-block.png') repeat-x;
  background-position: top left;
  border-radius: 20px;
  min-height: 420px;
}
div.prod-block ul#tabs {
  list-style-type: none;
  text-transform: uppercase;
  width: 940px;
  margin: 0 auto;
  text-align: center;
  font-size: 13px;
}
div.prod-block ul#tabs li {
  margin-top: 10px;
  display: inline-block;
  padding: 5px 9px;
}
div.prod-block ul#tabs li#current,
div.prod-block ul#tabs li:hover {
  border-radius: 15px;
  background: url('/assets/site/img/btn-bg.png') repeat-x;
}
div.prod-block ul#tabs li#current a,
div.prod-block ul#tabs li:hover a {
  color: #fff;
  font-weight: bold;
}
div.prod-block ul#tabs li a {
  color: #4d4d4d;
  display: block;
  font-weight: bold;
}
div.prod-block #prod {
  width: 940px;
  min-height: 300px;
  margin: 10px auto 0 auto;
}
div.prod-block #prod ul {
  width: 100%;
  min-height: 300px;
  list-style-type: none;
  display: table;
  border-collapse: separate;
  border-spacing: 0px 30px;
}
div.prod-block #prod ul .in-row {
  display: table-row;
}
div.prod-block #prod ul li {
  max-width: 235px;
  display: table-cell;
  height: 250px;
  vertical-align: top;
  position: relative;
}
div.prod-block #prod ul li.fortis {
  background: url('/assets/site/img/fortis.png') no-repeat;
  background-position: top center;
}
div.prod-block #prod ul li.almaz {
  background: url('/assets/site/img/almaz.png') no-repeat;
  background-position: top center;
}
div.prod-block #prod ul li.edp {
  background: url('/assets/site/img/edp.png') no-repeat;
  background-position: top center;
}
div.prod-block #prod ul li.lenta {
  background: url('/assets/site/img/lenta.png') no-repeat;
  background-position: top center;
}
div.prod-block #prod ul li.bars {
  background: url('/assets/site/img/bars.png') no-repeat;
  background-position: top center;
}
div.prod-block #prod ul li.grunt {
  background: url('/assets/site/img/grunt.png') no-repeat;
  background-position: top center;
}
div.prod-block #prod ul li.perch {
  background: url('/assets/site/img/perch.png') no-repeat;
  background-position: top center;
}
div.prod-block #prod ul li.lamp {
  background: url('/assets/site/img/lamp.png') no-repeat 100%;
  background-position: top center;
}
div.prod-block #prod ul li .blck {
  height: 50px;
  position: absolute;
  bottom: 5px;
}
div.prod-block #prod ul li .blck h3 {
  vertical-align: top;
  text-align: left;
  font-size: 14px;
}
div.prod-block #prod ul li .blck h3 a {
  color: #4d4d4d;
}
div.prod-block #prod ul li .blck h3 a:hover {
  color: #ff0000;
}
div.prod-block #prod ul li .blck p {
  max-width: 225px;
  font-size: 12px;
}
div.prod-block #ysl {
  width: 940px;
  min-height: 300px;
  margin: 10px auto 0 auto;
  border-collapse: separate;
  border-spacing: 3px;
}
div.prod-block #ysl ul {
  width: 940;
  min-height: 300px;
  list-style-type: none;
  display: table;
}
div.prod-block #ysl ul .in-row {
  display: table-row;
}
div.prod-block #ysl ul li {
  position: relative;
  text-align: center;
  display: table-cell;
  height: 232px;
  width: 308px;
}
div.prod-block #ysl ul li.home {
  background: url('/assets/site/img/home.png') no-repeat;
  background-position: top center;
}
div.prod-block #ysl ul li.svarka {
  background: url('/assets/site/img/svarka.png') no-repeat 100%;
  background-position: top center;
}
div.prod-block #ysl ul li.teplo {
  background: url('/assets/site/img/teplo.png') no-repeat;
  background-position: top center;
}
div.prod-block #ysl ul li.roof {
  background: url('/assets/site/img/roof.png') no-repeat;
  background-position: top center;
}
div.prod-block #ysl ul li.santeh {
  background: url('/assets/site/img/santeh.png') no-repeat;
  background-position: top center;
}
div.prod-block #ysl ul li.condition {
  background: url('/assets/site/img/condition.png') no-repeat;
  background-position: top center;
}
div.prod-block #ysl ul li .title {
  position: absolute;
  height: 50px;
  opacity: .75;
  font-weight: bold;
  font-size: 12px;
  color: #fff;
  background: #444343;
  bottom: 0;
  width: 308px;
}
div.prod-block #ysl ul li .title p {
  text-align: left;
  padding: 3px;
}
.clear {
  clear: both;
  height: 105px;
}
footer {
  position: relative;
  height: 105px;
  width: 1000px;
  margin: -105px auto 0 auto;
  background: url('/assets/site/img/footer-bg.png');
  color: #fff;
}
footer h3 {
  font-size: 11px;
  font-weight: normal;
  padding: 20px 0 0 20px;
  display: inline-block;
}
footer h2.devs {
  padding: 20px 0 0 20px;
  font-size: 12px;
  color: #fff;
}
footer h2.devs a {
  color: #fff;
  opacity: .75;
  text-decoration: none;
}
footer h2.devs a:hover {
  color: #fff;
  opacity: 1;
  text-decoration: underline;
}
footer ul.bars {
  display: inline-block;
  position: absolute;
  top: 7px;
  right: 20px;
  list-style-type: none;
  font-size: 13px;
  font-weight: bold;
  text-align: right;
}
footer ul.bars > li {
  vertical-align: top;
  display: inline-block;
  margin-right: 20px;
}
footer ul.bars > li:last-child {
  margin-right: 0;
}
footer ul.bars ul {
  list-style-type: none;
}
footer ul.bars ul.brand-list li {
  margin-top: 5px;
  opacity: .75;
}
footer ul.bars ul.brand-list li:first-child {
  margin-top: 0;
}
footer ul.bars ul.brand-list li.fortis {
  height: 36px;
  width: 111px;
  background: url('/assets/site/img/fortis-brand.png') no-repeat;
}
footer ul.bars ul.brand-list li.almaz {
  height: 25px;
  width: 108px;
  background: url('/assets/site/img/almaz-brand.png') no-repeat;
}
footer ul.bars ul.brand-list li.bethel {
  height: 14px;
  width: 110px;
  background: url('/assets/site/img/bethel-brand.png') no-repeat;
}
footer ul.bars ul.brand-list li.fortis:hover,
footer ul.bars ul.brand-list li.almaz:hover,
footer ul.bars ul.brand-list li.bethel:hover {
  opacity: 1;
}
footer ul.bars ul.icons li {
  display: inline-block;
  margin-right: 7px;
}
footer ul.bars ul.icons li:last-child {
  margin-right: 0;
}
footer ul.bars ul.icons li a {
  text-indent: -9999px;
  height: 28px;
  width: 28px;
  display: inline-block;
  opacity: .75;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
footer ul.bars ul.icons li a.vk {
  background: url('/assets/site/img/vk.png') no-repeat;
}
footer ul.bars ul.icons li a.fb {
  background: url('/assets/site/img/fb.png') no-repeat;
}
footer ul.bars ul.icons li a.yt {
  background: url('/assets/site/img/yt.png') no-repeat;
}
footer ul.bars ul.icons li a.vk:hover,
footer ul.bars ul.icons li a.fb:hover,
footer ul.bars ul.icons li a.yt:hover {
  opacity: 1;
}
