*{
  border: 0;
  margin: 0;
  padding: 0;
}
html, body{
  min-height: 100%;
}
body{
  height: 100%;
  background-color: #f0f0f0;
}
.container{
  background: #fff;
  min-height: 100%;
  border: 1px solid #d3d3d3;
  border-top: none;
  border-bottom: none;
  box-shadow: 0 0 7px #d3d3d3;
}
.navbar{
  margin: 20px;
}
.content{
  padding: 20px;
}
.content > h1{
  margin: -10px auto 0 auto;
  text-align: center;
}
a.btn{
  margin: 5px 0;
}
.clear{
  height: 21px;
}
footer{
  height: 20px;
  margin: -21px auto 0 auto;
  width:940px;
  border-top: 1px solid #d3d3d3;
  font-weight: bolder;
  line-height: 20px;
  span.dev{
    float: right;
    display: block;
    margin: 0 5px 0 0;
    text-align: right;
  }
  span.copy{
    margin: 0 0 0 5px;
  }
}
form{
  label{
    font-weight: bold;
    font-size: 15px;
  }
  input[type=text]{
    width: 100%;
    height: 30px;
  }
  .ke-container{
    max-width: 940px;
  }
  .pole{
    margin-top: 5px;
    border: 1px solid #d3d3d3;
    box-shadow: 0 0 3px #d3d3d3;
    background: #f0f0f0;
    padding: 3px;
    &.first-child{
      margin-top: 0;
    }
    .imagePreview{
      height: 100px;
    }
  }
  .seo{
    span{
      width: 50%;
      textarea{
        width: 100%;
        max-width:100%;
        height: 100px;
        max-height: 100px;
      }
    }
  }
}